@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

*{
    font-family: 'Lato', sans-serif;
}

#navigation{
    /* position: fixed; */
    width: 196vh;
    background-color: #fff;
    height: 10rem;
}

#img{
    margin-left: 5rem;
    margin-top: 10px;
}

nav ul{
    font-size: 24px;
    display: flex;
    justify-content:flex-end;
    position: relative ;
    top: -5.5rem;
    right: 11rem;
}

nav ul li:hover{
    color:  #0635e0;
}

nav ul li{
    list-style-type: none;
    padding-left:30px;
}

#special{
    color: #0030DA;
    border: 5px solid #0030DA;
    padding: 10px 50px 10px 50px;
    text-align: center;
    border-radius: 12px;
    position: relative;
    top: -15px;
    left: 30px;
}
.page{
    height: 900px;
}
.page h1{
    font-size: 64px;
}

.page h4{
    font-size: 36px;
    padding: 10px;
}

.page p{
    font-size: 16px;
    padding: 10px;
}

.text{
    position: absolute;
    width: 548px;
    height: 411px;
    left: 172px;
    top: 300px;
}

#title h1{
    font-size:75px;
    padding: 10px;
}

#aside img{
    margin: 40px 0 0 107.3vh;
}

#orcamento{ 
    background-color:#0030DA  ;
    color: #d2d2d2;
    padding: 20px;
    border: none;
    width: 516px;
    font-size: 24px;
    margin: 30px 0 0 12px;
    border-radius: 20px;
}

/* ---------------------------------------------- */

.tela2{
    background-color: #202020;
    color: #d2d2d2;
    padding: 130px;
}

.tela2 h4 {
    text-align: center;
}

/* #break{
    
} */

#backBlue{ 
    margin: 20px 0 0 40%;
    text-align: center;
    background-color: #0030DA;
    padding: 5px;
    width: 300px;
    height: 20px;
    font-size: 20px;
}

.itemTela2{
    width: 35vh;
    display: inline-block;
    height: 600px;
    margin: 50px 0 0 20px;
}

.itemTela2:first-child{
    margin:  0 0 0 100px;
}

.item-dimi{
    width: 35vh;
    height: 600px;
}

.text_img{
    margin-top: -8vh;
}

#break{
    text-align: center;
    align-items: center;
    margin: 70px 500px;
    font-size: 24px;
}

#line{
    color: #0635e0;
}

/* -------------------------- */

.tela3{
    padding: 10%;
}

.tela3_text h5{
    color: #0030DA;
    font-size: 24px;
    margin: 15px;
}

.tela3 h4{
    font-size: 36px;
}

.itemTela3{
    width: 42vh;
    display: inline-block;
    padding: 25px;
    margin: 60px 10px 50px 10px;
    height: 300px;
    background-color: #d9d9d9;
}

.itemTela3:first-child{
    margin-left: 55px;
}

.icon_tela3{
    margin: 30px 0 40px 10px;
}

.itemTela3 h5{
    font-weight: bold;
    font-size: 24px;
    margin:  0 0 10px 10px;
}

.itemTela3 p {
    line-height: 20px;
}

#buts{
    margin: 10px 0 0 132vh;
}

#first_set{
    margin-right: 100px;
}

#gambiarra{
    margin-left: 72vh;
}

#but_tela3{
    color: #fff;
    background-color: #0635e0;
    text-align: center;
    height: 81px;
    width: 542px;
    border-radius: 20px;
    border: none;
    font-size: 24px;
    font-weight: bold;
    margin: 65px 0 0 50vh ;
}

.tela4{
    background-color: #202020;
    color: #fff;
    height: 376px;
}

.text_tela4{
    padding: 50px;
    width: 40%;
    display: inline-block;
    margin: 50px 0 0 250px  ; 
 }

.text_tela4 p {
    width: 500px;
}

.text_tela4 h4{
    width: 500px;
    font-weight: bold;
    padding-bottom: 20px;
}

#but_tela4{
    color: #fff;
    background-color: #0635e0;
    height: 81px;
    width: 514px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    border: none;
    border-radius: 20px;
    position: relative;
    top: -65px;
    right: 50px;
}


/* ---------------- */

#last_img{
    float: left;
    padding-right: 50px;
    margin-left: 100px;
}

.tela5{
    padding: 240px;
    align-items: center;
}

#aside h5{
    color: #0635e0;
    font-size: 24px;
    padding: 10px;
}

#aside h4{
    font-size: 36px;
    font-weight: bold;
}

#aside p {
    font-size: 18px;
}

#aside{
    width: 140vh;
    padding: 50px;
}

.img_item {
    width: 60px;
    height: 60px;
    display: inline-block;
}

.itemTela5{
    width: 60px;
    display: inline-block;
    padding: 10px;
}

.itemTela5:first-child{
    margin: 5px 0 0 170px;
}